html, body {
	height: 100%;
}

body {
  margin: 0;
  font-family: "微軟正黑體",Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background: url(../images/carrbg.jpg) no-repeat center top #252525;
 }

/*
 * wrapper
 */

#wrap {
    min-height: 91.3%;
    height: auto !important;
    margin: 0 auto;
    width:900px;
    height:100%;
    max-width: 900px;
}

.em{
	color:#C00;
	font-size:24.5px;
	text-align:center;
}

/*
 * 頂列
 */

#LOGO {
	padding-top:5px;
}

#header-inner {
	 margin-bottom: 20px;
	 height: 90px;
}
 
#header-inner ul {
 	
 }

#header-inner .nav > li > a:hover{
	background-color: #FFCCCC;	
}

#header-inner .nav-pills > li > a {
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#header-inner .nav-pills > .active > a, #header-inner .nav-pills > .active > a:hover {
    background-color: #D95979;
    color: #FFFFFF;
}


/*
 * 主要 navbar
 */
#main-navbar {
   width: 100%;
}

#main-navbar 
.navbar-inner-m {
		  /*
	   * F1D507
	   * 21 透明
	   * FFFFFF
	   * 53 透明
	   */
		/*width: inherit;*/
    border: 1px solid #E5BB91;
    border-radius: 4px 4px 4px 4px;
	min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
	  background: url(../image/nav-bg.png) repeat-x scroll 0 0 transparent;
}

.navbar-inner-m:before,
.navbar-inner-m:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar-inner-m:after {
  clear: both;
}


#main-navbar .nav li a{
	color: #652001;	
	font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 21px 15px;
    text-rendering: optimizelegibility;
}

#main-navbar .nav > .active > a{
	
    background-color: #EBE3AE;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
    color: #555555;
    text-decoration: none;
}

#main-navbar .dropdown-menu li a {
	clear:both;
	color: #333333;
}

#main-navbar .dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

/*
 * content
 */
#content {

}
/*
 * 規範全頁表格、列表資料類型的content，視情況新增其他 同意義的class
 */
.full-page-content {
	  padding: 10px 30px;
	   height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
    background: url(../image/login-bg.png);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	
}

/*
 * 規範左邊大地圖，右邊表格content，視情況新增其他 同意義的class
 */
.map-table-content {
	  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
    background: url(../image/login-bg.png);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	
}

/*
 * 規範左邊大地圖，右邊表格content，視情況新增其他 同意義的class
 */
.dispatch-map-table-content {
  height: 580px;
  min-height:580px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
    background: url(../image/login-bg.png);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	
}

/*
 * 規範左邊大地圖，右邊表格content，視情況新增其他 同意義的class
 */
.center-box {
	width: 400px;
  margin:50px auto 20px;
  padding:30px 50px;
      background: url(../image/login-bg.png);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	
}

.center-box .btn{
	display:block;
}

#content .table th, 
#content .table td {
	margin-bottom:0px;
	margin: 0 auto;
	text-align:center;
	vertical-align:middle;
}


/*
 * 分頁列
 */
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus{
background-color: #FFFFFF;
}


/*
 * footer
 */

#footer {
	background: url("../image/bubg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #E2C4A6;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    height: 65px;
}
 .container .credit {
	text-align: center;
	padding-top: 20px;
}



/*
 * login-box
 */
.login-box {
    background: url("../image/login-bg.png") repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 400px;
}

.center-box h5, .full-page-content h5{
	margin-bottom:20px;
	font-size:20px;
	text-align:center;
}


.center-box form p{
	display:block;
	font-size:15px;
	font-weight:bold;
	margin-bottom:5px;
}

#push{
	margin-bottom:75px;
	visibility:hidden;
}

form fieldset {
	margin-bottom: 10px;
}

form input[type="radio"]  {
	margin-bottom: 5px;
}







