/* Body */
body {
	padding:0px;
	margin:0px;
	background:#fbfbfb; 
	color:#333; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
}
.code {
	padding:5px;
	margin:10px 0px;
	margin-top:20px;
	font-family:"Consolas", Arial, Times, serif;
	color:#000;
	text-shadow:#fff 1px 1px 1px;
	background:#EEEEEE;
	border:solid #D7D7D7 1px;
	font-size:14px;
}
.note {
	font-size:11px;
	color:#000;
	margin-top: 10px;
}



/* Header */
#header { width:100%; height:123px; background-image:url(../img/headerbg.jpg); background-repeat:repeat-x; font-size:0.85em; }
#header h1 { margin:0px; position:relative; top:45px; color:#FFF; font-size:4em; }
#header .light { background-image:url(../img/hlight.png); background-repeat:no-repeat; height:123px; width:100%; }

#header.margin_bottom { margin-bottom:38px!important; }

/* Menu */

.optionbar {
	width:100%;
	height:38px;
	background:#24b518;
	border-bottom:solid #24b518 1px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#24b518), to(#60da20));
	background: -moz-linear-gradient(top,  #24b518,  #60da20);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#24b518', endColorstr='#60da20');
	-moz-box-shadow: 0px 1px 3px #ccc;
	-webkit-box-shadow: 0px 1px 3px #ccc;
	box-shadow: 0px 1px 3px #ccc;
}
.optionbar_nobg {
	width:100%;
	height:38px;
}


/* Container */
#container { width:100%; z-index:0; }
.wrapper { width:960px; margin:auto; overflow:hidden; }
#container .wrapper { padding:20px }

/* Footer */
#footer { color:#CCCCCC; font-size:0.8em; padding:5px 0px 0px; width:100%; height:20px; background-image:url(../img/headerbg.jpg); background-repeat:repeat-x; border-top:solid #000000 1px; }
#footer a { color:#FFF; text-decoration:none; }

/* Blocks */
.block { overflow:hidden; margin:0px; padding:10px; z-index:-3; }
.block a { display:inline!important; width:auto!important; border:none!important; padding:5px!important; margin:0px!important; }
.login_block {
	width:160px;
	padding:10px;
	text-shadow:none;
	float:left;
}

/* Cols */
.cols_8 { width:940px; }
.cols_7 { width:800px; }
.cols_6 { width:680px;  }
.cols_5 { width:560px; }
.cols_4 { width:440px; }
.cols_3 { width:320px; }
.cols_2 { width:200px; }
.cols_1 { width:80px; }
.cols_auto { width:auto; }
.center { text-align:center; }
.left { float:left; }
.right { float:right; }
.top_menu { float:right; }

/* Tabla */
#tabla_options {
	width:960px;
}
#tabla_options tr.odd td {
	background:#EBEBEB;
}
#tabla_options tr.even td {
	background:#FFF;
}
#tabla_options tr td.option {
	width:150px;
	font-weight:bold;
	/* vertical-align:top; */
	text-align:left;
	padding:5px 10px;
}
#tabla_options tr td.desc {
	padding:0 5px;
	text-align:left;
}