/* Inner menu */
ul.smenubar li:hover { background-color:#e2e2e2; cursor:pointer; color:#fff!important; text-shadow:none; }
ul.smenubar li a { color:#FFF; font-size:12px; text-decoration:none; padding:5px 15px; display:block; margin:0px; float:left; }
ul.smenubar li a:hover { color:#000!important; text-shadow:none; }
ul.smenubar li:hover a { color:#000!important; text-shadow:none; }

ul.smenubar ul.inner_menu { 
	letter-spacing:0.05em; 
	margin:0px; 
	padding:0px; 
	-moz-box-shadow: 2px 4px 5px #888;
	-webkit-box-shadow: 2px 4px 5px #888;
	box-shadow: 0px 4px 5px #888;
	background:#e2e2e2; 
	background: -moz-linear-gradient(100deg, #c4c4c4 0%, #c4c4c4 6%, #dbdbdb 47%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, right bottom, left top, color-stop(0%,#c4c4c4), color-stop(6%,#c4c4c4), color-stop(47%,#dbdbdb), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(100deg, #c4c4c4 0%,#c4c4c4 6%,#dbdbdb 47%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(100deg, #c4c4c4 0%,#c4c4c4 6%,#dbdbdb 47%,#e2e2e2 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(100deg, #c4c4c4 0%,#c4c4c4 6%,#dbdbdb 47%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(100deg, #c4c4c4 0%,#c4c4c4 6%,#dbdbdb 47%,#e2e2e2 100%); /* W3C */
	border-radius:3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	cursor:default; 
	overflow:hidden; 
}
ul.smenubar ul.inner_menu a { color:#000!important; text-shadow:#fff 1px 1px 1px; font-size:11px!important; margin:0px; padding:5px 10px 7px 10px; display:block; float:none; }
ul.smenubar ul.inner_menu a:hover { border-radius:3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

ul.smenubar ul.inner_menu li { float:none; font-size:11px!important; text-shadow:none; color:#FFF; display:block; margin:0px; padding:0px; cursor:default; }
ul.smenubar ul.inner_menu li:hover { 
	background: #A3A3A3; 
	background: -moz-linear-gradient(top, #a3a3a3 0%, #898989 48%, #707070 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3a3a3), color-stop(48%,#898989), color-stop(100%,#707070)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a3a3a3 0%,#898989 48%,#707070 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a3a3a3 0%,#898989 48%,#707070 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a3a3a3 0%,#898989 48%,#707070 100%); /* IE10+ */
	background: linear-gradient(top, #a3a3a3 0%,#898989 48%,#707070 100%); /* W3C */
	border-radius:3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
}

ul.smenubar ul.inner_menu li a { padding:9px 20px 9px 10px; }
ul.smenubar ul.inner_menu li a.toggle_handle { height:15px!important; padding:0px!important; margin:0px!important;}
ul.smenubar ul.inner_menu li a:hover { 
	background: #A3A3A3; 
	background: -moz-linear-gradient(top, #a3a3a3 0%, #898989 48%, #707070 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3a3a3), color-stop(48%,#898989), color-stop(100%,#707070)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a3a3a3 0%,#898989 48%,#707070 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a3a3a3 0%,#898989 48%,#707070 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #a3a3a3 0%,#898989 48%,#707070 100%); /* IE10+ */
	background: linear-gradient(top, #a3a3a3 0%,#898989 48%,#707070 100%); /* W3C */
}

ul.smenubar ul.inner_menu li ul { 
	/*
	position:fixed!important; 
	z-index:100; 
	display:inline-block; 
	float:left; 
	*/
}

ul.smenubar ul.inner_menu.right_slide, 
ul.smenubar ul.inner_menu.left_slide { position:absolute!important; overflow:visible; float:left; border-top-left-radius:0; -webkit-top-left-border-radius: 0px; -moz-border-radius-topleft: 0px; border-top-right-radius:0; -webkit-top-right-border-radius: 0px; -moz-border-radius-topright: 0px; }
ul.smenubar ul.inner_menu.mega_slide, ul.smenubar ul.inner_menu.mega_slide { position:absolute!important; width:960px; overflow:visible; float:left; border-top-left-radius:0px; -webkit-top-left-border-radius: 0px; -moz-border-radius-topleft: 0px; border-top-right-radius:0; -webkit-top-right-border-radius: 0px; -moz-border-radius-topright: 0px; }

ul.smenubar li ul.toprightradius { border-top-right-radius: 3px!important; -webkit-top-right-border-radius: 3px!important; -moz-border-radius-topright: 3px!important; }
ul.smenubar li ul.topleftradius { border-top-left-radius: 3px!important; -webkit-top-left-border-radius: 3px!important; -moz-border-radius-topleft: 3px!important; }

ul.smenubar li ul li { margin:0px; padding:0px; border-radius:3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display:block; }
ul.smenubar li ul li.inusechild a { color:#000000; }
ul.smenubar li ul li.inuseleft a { color:#000000; }
ul.smenubar li ul li.inusechildleft a { color:#000000; }

ul.smenubar ul.inner_menu li.not_menu:hover { background:none!important; }
ul.smenubar ul.inner_menu li.not_menu a { background:none!important; color:#E9F7F8!important; padding:0px!important; margin:0px 10px!important; }
ul.smenubar ul.inner_menu li.not_menu a:hover { color:#000!important; background:none!important; }
ul.smenubar ul.inner_menu li.not_menu ul { margin-bottom:5px!important; }
ul.smenubar ul.inner_menu li.not_menu ul li { margin-bottom:5px!important; }
ul.smenubar ul.inner_menu li.not_menu ul li a { color:#000!important; }
ul.smenubar ul.inner_menu li.not_menu ul li a:hover { color:#666!important; background:none!important; }

.menu_cols_1 { width:100%!important; float:left; clear:both; }
.menu_cols_2 { width:50%!important; float:left; }
.menu_cols_3 { width:33.33%!important; float:left; }
.menu_cols_3x2 { width:66.66%!important; float:left; }
.menu_cols_4 { width:25%!important; float:left; }
.menu_cols_4x3 { width:75%!important; float:left; }
.menu_cols_5 { width:20%!important; float:left; }
.menu_cols_5x2 { width:40%!important; float:left; }
.menu_cols_5x3 { width:60%!important; float:left; }
.menu_cols_5x4 { width:80%!important; float:left; }
.menu_cols_10 { width:10%!important; float:left; }
.menu_cols_10x2 { width:20%!important; float:left; }
.menu_cols_10x3 { width:30%!important; float:left; }
.menu_cols_10x4 { width:40%!important; float:left; }
.menu_cols_10x5 { width:50%!important; float:left; }
.menu_cols_10x6 { width:60%!important; float:left; }
.menu_cols_10x7 { width:70%!important; float:left; }
.menu_cols_10x8 { width:80%!important; float:left; }
.menu_cols_10x9 { width:90%!important; float:left; }

/* Contents */
.contents { padding:10px; position:relative; }

.contents h2 { 
	width:auto!important;
	margin:10px 10px 10px!important; 
	color:#000!important; 
	text-shadow:#fff 1px 1px 1px;
	font-size:16px; 
	text-shadow:none!important;
	border-bottom:solid #000 1px;
}
.contents h3 { 
	width:auto!important;
	margin:15px 0px 15px!important; 
	color:#000!important;
	text-shadow:#fff 1px 1px 1px;
	font-size:14px;
	border-bottom:solid #000 1px;
	
}
.contents h4 { 
	width:auto!important;
	margin:10px 10px 10px!important; 
	color:#000!important; 
	text-shadow:#fff 1px 1px 1px;
	font-size:12px; 
	text-shadow:none!important;
	border-bottom:solid #000 1px;
}
.contents hr { border:none; border-bottom:solid #ccc 1px; }
.contents .clear {
	width:100%;
	clear:both;
	height:5px;
}
.contents p { margin:5px 0px 15px; padding:0px 5px; color:#000; text-shadow:#fff 1px 1px 1px; }
.contents p.white { background:#fff; color:#000; text-shadow:#fbfbfb 1px 1px 1px; padding:10px; margin:0px 10px; }
.contents p.italic { font-style:italic; }
.contents p.bold { font-weight:bold; }
.contents p.underline { text-decoration:underline; }
.contents p.line { text-decoration:line-through; }
.contents p img { border:solid #fff 3px; margin:0px 5px; }
.contents p img.left { float:left; }
.contents p img.right { float:right; }
.contents p.line_black { border-left:solid #000 8px; padding-left:10px; }
.contents p.line_red { border-left:solid #FF0000 8px; padding-left:10px; }
.contents p.line_blue { border-left:solid #003366 8px; padding-left:10px; }
.contents p.line_green { border-left:solid #00CC33 8px; padding-left:10px; }
.contents p.line_yellow { border-left:solid #CCFF33 8px; padding-left:10px; }
.contents p.line_white { border-left:solid #fff 8px; padding-left:10px; }

.contents img { border:none; }

.contents ul {
	padding:0px!important;
	margin:0px!important;
}
.contents ul li {
	padding:2px!important;
	background:none!important;
}
.contents ul li:hover {
	background:none!important; 
}

.contents ul li a {
	color:#000!important;
	background:none!important;
}
.contents ul li a:hover { background:none!important; }

.contents ul.bullet_white li a img { float:left; position:relative; top:-3px; left:-5px; margin:0px; padding:0px; }
.contents ul.links li a img { float:left; position:relative; top:0px; left:-5px; margin:0px; padding:0px; }

.marketplaces img {
	position:relative;
	left:-10px;
}


.login_block label { color:#000; }